@model ControleFeiraWeb.Models.ViewModels.FuncionarioFormViewModel

@{
    ViewData["Title"] = "Cadastro";
}

<h2>@ViewData["Title"]</h2>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Funcionario.Nome" class="control-label"></label>
                <input asp-for="Funcionario.Nome" class="form-control" />
                <span asp-validation-for="Funcionario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.CPF" class="control-label"></label>
                <input asp-for="Funcionario.CPF" class="form-control" />
                <span asp-validation-for="Funcionario.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.RG" class="control-label"></label>
                <input asp-for="Funcionario.RG" class="form-control" />
                <span asp-validation-for="Funcionario.RG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Email" class="control-label"></label>
                <input asp-for="Funcionario.Email" class="form-control" />
                <span asp-validation-for="Funcionario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Data_Nascimento" class="control-label"></label>
                <input asp-for="Funcionario.Data_Nascimento" class="form-control" />
                <span asp-validation-for="Funcionario.Data_Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Telefone_Celular" class="control-label"></label>
                <input asp-for="Funcionario.Telefone_Celular" class="form-control" />
                <span asp-validation-for="Funcionario.Telefone_Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Endereco" class="control-label"></label>
                <input asp-for="Funcionario.Endereco" class="form-control" />
                <span asp-validation-for="Funcionario.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Profissao" class="control-label"></label>
                <input asp-for="Funcionario.Profissao" class="form-control" />
                <span asp-validation-for="Funcionario.Profissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.DepartamentoId" class="control-label"></label>
                <select asp-for="Funcionario.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary formgroup" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar na Listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
