@model ControleFeiraWeb.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Titule"]</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Editar</a>
    <a asp-action="Index">Retornar na Lisatagem</a>
</div>

